body{
    text-align: center;
    background-color: salmon;
}

ul{
  list-style:none;
  max-height:200px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
li{
  line-height:25px;
}
li:nth-child(even){
  background:#b5b0b9;
}
li:nth-child(odd){
  background:#ccc;
}

#textBox{
  background-color: #b5b0b9;
  margin-top: 10px;
}
#submitButton{
  margin-top: 1%;
  width: 15%
    
}